# Android Studio / IntelliJ
.idea/
*.iml
.gradle/
local.properties
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.apk
*.aar

# Gradle
.gradle
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# Logs
*.log
